*.egg-info
*.pkl
__pycache__
.\src\features\data_files
.\src\features\data_files\GoogleNews-vectors-negative300.bin
src/features/data_files/GoogleNews-vectors-negative300.bin
src/features/data_files/*
.idea
